

.cadastro{
    color: #171846;
    text-shadow: none;
    
    
}

.button-cadastro{
     background-color: #726a2c!important;
     
     
}

.link-acesso{
    color: #171846!important;
    text-decoration: none!important;
}

