
.button-cadastro{
     background-color: #FF7D00!important;
     font-weight: 500!important;
     font-size: 17px!important;
     
     
     
}

.link-acesso-cadastro{
    color: #171846!important;
    text-decoration: none!important;
    font-weight: 500!important;
}

